/*
 *	pixely speaking Grid CSS
 */

/* desktop default ( 960 - 1199 )
==================================================*/
body {min-width:960px}

.row {width:940px; min-width:940px; padding-left:10px; padding-right:10px; margin-left:auto; margin-right:auto}
.row:before, .row:after {content:" ";display:table}
.row:after {clear:both}

[class^="col"] ~ [class^="col"] {margin-left:20px}
[class^="col"] {
	margin-left:0; min-height:1px;
	display:inline; float:left; position:relative
}



 .col1 {width:  60px}
 .col2 {width: 140px}
 .col3 {width: 220px}
 .col4 {width: 300px}
 .col5 {width: 380px}
 .col6 {width: 460px}
 .col7 {width: 540px}
 .col8 {width: 620px}
 .col9 {width: 700px}
.col10 {width: 780px}
.col11 {width: 860px}
.col12 {width: 940px}

/* large desktop ( 1200 and above )
==================================================*/
@media (min-width: 1200px) {
	body {min-width:1200px}
	.row {width:1180px; min-width:1180px}

	 .col1 {width:  80px}
	 .col2 {width: 180px}
	 .col3 {width: 280px}
	 .col4 {width: 380px}
	 .col5 {width: 480px}
	 .col6 {width: 580px}
	 .col7 {width: 680px}
	 .col8 {width: 780px}
	 .col9 {width: 880px}
	.col10 {width: 980px}
	.col11 {width:1080px}
	.col12 {width:1180px}
}

/* small desktop or tablet ( 959 and below )
==================================================*/
@media (max-width: 959px) {
	body {min-width:768px}
	.row {width:748px; min-width:748px}
	
	 .col1 {width:  44px}
	 .col2 {width: 108px}
	 .col3 {width: 172px}
	 .col4 {width: 236px}
	 .col5 {width: 300px}
	 .col6 {width: 364px}
	 .col7 {width: 428px}
	 .col8 {width: 492px}
	 .col9 {width: 556px}
	.col10 {width: 620px}
	.col11 {width: 684px}
	.col12 {width: 748px}
}
