/*
 *	pixely speaking Fluid CSS
 */

/* full fluid
==================================================*/
body {width:100%}

.row {width:100%; margin-left:auto; margin-right:auto}
.row:before, .row:after {content:" ";display:table}
.row:after {clear:both}

.col100, .col66, .col75, .col50, .col33, .col25 {
	display:inline; float:left; position:relative; min-height:1px
}

           .col100 {width: 100.00%}
.col66:first-child {width:  66.67%}
            .col66 {width:  66.66%}
			.col75 {width:  75.00%}
            .col50 {width:  50.00%}
.col33:first-child {width:  33.34%}
            .col33 {width:  33.33%}
            .col25 {width:  25.00%}
