/* Custom styles
==================================================*/

/* retro
==================================================*/
.retro-gradient .btn,
.retro-gradient .box,
.retro-gradient .nav,
.retro-gradient .nav-trigger {
	background-image:none !important;
}

.retro-radius .input,
.retro-radius .btn,
.retro-radius .box,
.retro-radius .code,
.retro-radius .progress,
.retro-radius .table.table-border,
.retro-radius .nav-trigger,
.retro-radius .dropdown-menu {
	border-radius:0 !important;
}

.retro-shadow .input,
.retro-shadow .progress,
.retro-shadow .nav,
.retro-shadow .dropdown-menu {
	box-shadow:none !important;
}

/* helper
==================================================*/
.text-14 {font-size:14px}
.text-16 {font-size:16px}

.text-large {font-size:1.5em}
.text-small {font-size:0.857em}

.text-white {color:#fff}
.text-black {color:#000}
.text-red {color:#d32}
.text-yellow {color:#f80}
.text-green {color:#094}
.text-blue {color:#06c}
.text-purple {color:#a08}

.text-left {text-align:left}
.text-center {text-align:center}
.text-right {text-align:right}

.float-left {float:left}
.float-right {float:right}

.list:before, .list:after, .clear:before, .clear:after {content:" ";display:table}
.list:after, .clear:after {clear:both}

.list {list-style:none; margin:0; padding:0}
.list-float > li {float:left}
.list-inline > li {display:inline-block}

.spacer:before {content:" "}

/* input 
==================================================*/
.input {
	border:1px solid #bebebe; line-height:normal; 
	padding:0.25em; color:#000; vertical-align:middle;
	
	border-radius:2px;
	background-clip: padding-box;
	
	box-shadow:0 0 2px rgba(0,0,0,0.3) inset;
	
	box-sizing:border-box;
}
.input.input-small {font-size:0.857em}
.input.input-large {font-size:1.5em}
.input.input-block {display:block; width:100%}

/* button and box
==================================================*/
.btn, .box {
	border:1px solid #bebebe;
	background-color:#eee; background-repeat:repeat-x; 
	border-radius:2px;
	background-clip:padding-box;
}

.btn {
	text-decoration:none; color:#000; cursor:pointer; display:inline-block; 
	background-image:linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.2));
	padding:0.25em 0.5em; vertical-align:middle; line-height:normal;
	transition:background-color 0.5s ease;
	text-shadow:1px 1px 1px rgba(255,255,255,0.3);
	box-sizing:border-box;
}

.btn:hover {background-color:#d6d6d6}
.btn:active {background-color:#f1f1f1; background-image:none; transition:background-color 0s ease}

.btn.btn-red, .btn.btn-yellow, .btn.btn-green, .btn.btn-blue, .btn.btn-purple, .btn.btn-black {
	color:#fff;
	text-shadow:1px 1px 1px rgba(0,0,0,0.3)
}

.btn.btn-red, .box.box-red {background-color:#d32; border-color:#b21}
.btn.btn-red:hover {background-color:#c21}
.btn.btn-red:active {background-color:#e54}

.btn.btn-yellow, .box.box-yellow {background-color:#f80; border-color:#c60}
.btn.btn-yellow:hover {background-color:#e70}
.btn.btn-yellow:active {background-color:#f93}

.btn.btn-green, .box.box-green {background-color:#094; border-color:#073}
.btn.btn-green:hover {background-color:#083}
.btn.btn-green:active {background-color:#3a6}

.btn.btn-blue, .box.box-blue {background-color:#06c; border-color:#05a}
.btn.btn-blue:hover {background-color:#05b}
.btn.btn-blue:active {background-color:#38d}

.btn.btn-purple, .box.box-purple {background-color:#a08; border-color:#806}
.btn.btn-purple:hover {background-color:#907}
.btn.btn-purple:active {background-color:#b39}

.btn.btn-black, .box.box-black {background-color:#444; border-color:#363636}
.btn.btn-black:hover {background-color:#3d3d3d}
.btn.btn-black:active {background-color:#696969}

.btn.btn-small {font-size:0.857em}
.btn.btn-large {font-size:1.5em}
.btn.btn-block {padding-left:0; padding-right:0; display:block; width:100%}

/* btn group
==================================================*/
.btn-group {display:inline-block}
.btn-group:before, .btn-group:after {content:" "; display:table}
.btn-group:after {clear:both}
.btn-group-horiz > .btn:first-child {border-radius:2px 0 0 2px}
.btn-group-horiz > .btn {float:left; border-radius:0}
.btn-group-horiz > .btn:last-child {border-radius:0 2px 2px 0}

.btn-group-vert > .btn:first-child {border-radius:2px 2px 0 0}
.btn-group-vert > .btn {display:block; border-radius:0; box-sizing:border-box; width:100%}
.btn-group-vert > .btn:last-child {border-radius:0 0 2px 2px}

/* disabled
==================================================*/
.input[disabled], .btn[disabled], .btn[disabled]:hover {
	background-image:none; background-color:#ddd; color:#888; cursor:default; border-color:#9a9a9a;
	text-shadow:1px 1px 1px rgba(255,255,255,0.3);
}

/* nav
==================================================*/
.nav {min-height:3em; line-height:1; box-shadow:0 0 5px #000; position:relative}
.nav:before, .nav:after {content:" ";display:table}
.nav:after {clear:both}

.nav.nav-fixed {position:fixed; width:100%; z-index:500; top:0}

.nav .nav-trigger {
	height:0.9em; width:1.4em; margin:0.4em 1em 0; padding:0.6em; border-width:1px; border-style:solid;
	border-radius:2px; background-clip: padding-box; 
	background-image:linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.2));
	transition:background-color 0.5s ease
}
.nav .nav-trigger:active {background-image:none; transition:background-color 0s ease}
.nav .nav-trigger > div:first-child {margin-top:0}
.nav .nav-trigger > div {height:3px; margin-top:3px; border-radius:2px; background-clip: padding-box}

.nav a {
	text-decoration:none;
	transition:color 0.5s ease;
}
.nav .title {font-size:1.5em; line-height:2; margin:0 1em}
.nav .list > li > a, .nav .list > li > span {display:block; padding:0 1em; line-height:3}

.nav.nav-black {
	background-color:#111; color:#fff; border-bottom:1px solid #000;
	background-image:linear-gradient(to bottom, #222, #000);
}
.nav.nav-black a {color:#bbb}
.nav.nav-black .active {background-color:#333}
.nav.nav-black .active a, .nav-black a:hover {color:#ddd}
.nav.nav-black .nav-trigger {background-color:#444; border-color:#363636}
.nav.nav-black .nav-trigger:hover {background-color:#3d3d3d}
.nav.nav-black .nav-trigger:active {background-color:#696969}
.nav.nav-black .nav-trigger > div {background-color:#eee}

.nav.nav-white {
	background-color:#eee; color:#000; border-bottom:1px solid #ddd;
	background-image:linear-gradient(to bottom, #fff, #ddd);
}
.nav.nav-white a {color:#444}
.nav.nav-white .active {background-color:#ccc}
.nav.nav-white .active a, .nav-white a:hover {color:#222}
.nav.nav-white .nav-trigger {background-color:#eee; border-color:#bebebe}
.nav.nav-white .nav-trigger:hover {background-color:#d6d6d6}
.nav.nav-white .nav-trigger:active {background-color:#f1f1f1}
.nav.nav-white .nav-trigger > div {background-color:#111}

.nav .nav-form {margin:0.5em 1em 0}

.nav .nav-menu {position:absolute; top:3em; left:0; z-index:600; width:100%}
.nav.nav-black .nav-menu {
	border-top:1px solid #000; background-color:#111; color:#fff;
}
.nav.nav-white .nav-menu {
	border-top:1px solid #ddd; background-color:#eee; color:#000;
}

/* code
==================================================*/
.code {
	border:1px solid #ccc; background-color:#f8f8f8; color:#c25; margin:0 0.1em; padding:0 0.3em;
	border-radius:2px; background-clip: padding-box;
}

/* table
==================================================*/
.table tr {background-color:#fff}
.table td, .table th {padding:0.25em 0.5em}
.table.table-fill {width:100%}
.table.table-comfy td, .table.table-comfy th {padding:1em 2em}

.table.table-border {border-collapse:separate; border:1px solid #bebebe; border-radius:2px; background-clip: padding-box}
.table.table-border td, .table.table-border th {border-left:1px solid #bebebe; border-top:1px solid #bebebe}
.table.table-border tr:first-child td, .table.table-border tr:first-child th {border-top:0}
.table.table-border tr td:first-child, .table.table-border tr th:first-child {border-left:0}

.table.table-border-row tr:first-child {border-top:1px solid #bebebe}
.table.table-border-row tr {border-bottom:1px solid #bebebe}
.table.table-stripe tr:nth-child(2n) {background-color:#f8f8f8}

/* progress
==================================================*/
.progress {height:20px; background-color:#ddd; box-shadow:0 0 2px rgba(0,0,0,0.3) inset; border-radius:2px; background-clip:padding-box}
.progress > .box {border:0; height:100%; transition:width 0.5s ease; background-image:linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.2))}

/* dropdown
==================================================*/
.dropdown {position:relative}
.dropdown .dropdown-menu {
	display:none; position:absolute; z-index:700; border-radius:2px; margin:10px 0 0; padding:0.5em 0; line-height:normal;
	list-style:none; border:1px solid #bebebe; background-color:#f8f8f8; background-clip:padding-box; min-width:200px;
	box-shadow:0 2px 5px rgba(0,0,0,0.5)
}

.dropdown .dropdown-menu:before, .dropdown .dropdown-menu:after {
	content:""; position:absolute; 
	left:1em; right:auto; display:inline-block;
	width:0; height:0;
	border-width:0 10px 12px; border-style:solid; border-color:transparent transparent #bebebe;
	transform:rotate(360deg)
}
.dropdown .dropdown-menu:before {top:-9px}
.dropdown .dropdown-menu:after {top:-8px; border-bottom-color:#f8f8f8}

.dropdown .dropdown-menu.dropdown-menu-right {left:auto; right:0}
.dropdown .dropdown-menu.dropdown-menu-right:before, .dropdown .dropdown-menu.dropdown-menu-right:after {right:1em; left:auto}

.dropdown .dropdown-menu > .dropdown-spacer {border-top:1px solid #bebebe; margin:0.5em 0}
.dropdown .dropdown-menu > li > a, .dropdown .dropdown-menu > li > span {
	display:block; text-decoration:none; color:#000; padding:0.5em 1em; transition:background-color 0.5s ease
}
.dropdown .dropdown-menu > li > a:hover {color:#000; background-color:#ccc}

/* modal
==================================================*/
.modal {
	display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index:900;
}
.modal.modal-black {
	background-color:rgba(0,0,0,0.7); 
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000)";
}
.modal.modal-white {
	background-color:rgba(255,255,255,0.7); 
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2FFFFFF,endColorstr=#B2FFFFFF)";
}

.modal .modal-box {
	display:none; margin:50px auto 0; max-width:500px;
	border-radius:2px; background-color:#f8f8f8; border:1px solid #bebebe;
	background-clip:padding-box
}

.modal .modal-header:before, .modal .modal-header:after, .modal .modal-footer:before, .modal .modal-footer:after {content:" ";display:table}
.modal .modal-header:after {clear:both}

.modal .modal-header {padding:0.5em 1em}
.modal .modal-header > h2 {margin:0; float:left}
.modal .modal-header > .btn {float:right}
.modal .modal-body {padding:1em; border-width:1px 0; border-style:solid; border-color:#cecece}
.modal .modal-footer {text-align:right; padding:0.5em 1em}





