/* Custom styles
==================================================*/

/*	css reset
==================================================*/
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{background:none}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font:1em monospace,serif}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

/* helper
==================================================*/
.text-16 {font-size:100%}
.text-14 {font-size:87.5%}

.retro .input, .retro .btn, .retro .nav {
	background-image:none;
	
	-webkit-border-radius:0; 
	-moz-border-radius:0; 
	border-radius:0;
}

.text-white {color:#fff; text-shadow:0 0 1px rgba(255,255,255,0.3)}
.text-black {color:#000; text-shadow:0 0 1px rgba(0,0,0,0.3)}

.text-left {text-align:left}
.text-center {text-align:center}
.text-right {text-align:right}

.float-left {float:left}
.float-right {float:right}

.list:before, .list:after, .clear:before, .clear:after {content:" ";display:table}
.list:after, .clear:after {clear:both}

.list {list-style:none; margin:0; padding:0}
.list.list-float > li {float:left}
.list.list-inline > li {display:inline-block}

/* input 
==================================================*/
.input {
	border:1px solid rgba(0,0,0,0.3); padding:5px; color:#000;
	
	text-shadow:0 0 1px rgba(0,0,0,0.3);
	
	-webkit-border-radius:2px; 
	-moz-border-radius:2px; 
	border-radius:2px;
	
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.3) inset;
	box-shadow:0 1px 2px rgba(0,0,0,0.3) inset;
	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.input.input-large {padding:10px; font-size:1.5em}
.input.input-block {display:block; width:100%}

/* button
==================================================*/
.btn {
	border:1px solid rgba(0,0,0,0.3); text-decoration:none; color:#000; cursor:pointer; display:inline-block;
	background-color:#eee; padding:5px 10px; background-repeat:repeat-x;
	
	-webkit-transition:background-color 0.5s ease;
	-moz-transition:background-color 0.5s ease;
	-o-transition:background-color 0.5s ease;
	transition:background-color 0.5s ease;
	
	background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.3)));
	background-image:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3));
	background-image:-moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3));
	background-image:-o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3));
	background-image:linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.3));
	
	-webkit-border-radius:2px; 
	-moz-border-radius:2px; 
	border-radius:2px;
	
	text-shadow:0 0 1px rgba(0,0,0,0.3), 1px 1px 1px rgba(255,255,255,0.3)
}

.btn:hover {background-color:#d7d7d7; border-color:rgba(0,0,0,0.5)}

.btn.btn-red, .btn.btn-yellow, .btn.btn-green, .btn.btn-blue, .btn.btn-purple, .btn.btn-black {
	color:#fff;
	text-shadow:0 0 1px rgba(255,255,255,0.3), 1px 1px 1px rgba(0,0,0,0.3)
}

.btn.btn-red {background-color:#d32}
.btn.btn-red:hover {background-color:#c12}

.btn.btn-yellow {background-color:#fa1}
.btn.btn-yellow:hover {background-color:#f80}

.btn.btn-green {background-color:#094}
.btn.btn-green:hover {background-color:#073}

.btn.btn-blue {background-color:#06c}
.btn.btn-blue:hover {background-color:#04c}

.btn.btn-purple {background-color:#a08}
.btn.btn-purple:hover {background-color:#807}

.btn.btn-black {background-color:#444}
.btn.btn-black:hover {background-color:#222}

.btn.btn-small {padding:2px 4px; font-size:0.857em}
.btn.btn-large {padding:10px 20px; font-size:1.5em}
.btn.btn-block {padding-left:0; padding-right:0; display:block; width:100%}

/* nav
==================================================*/
.nav {
	padding-left:1em; padding-right:1em; min-height:3em;
	
	background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.3)));
	background-image:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3));
	background-image:-moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3));
	background-image:-o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3));
	background-image:linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.3));
}
.nav:before, .nav:after {content:" ";display:table}
.nav:after {clear:both}

.nav a {
	text-decoration:none;
	
	-webkit-transition:color 0.5s ease;
	-moz-transition:color 0.5s ease;
	-o-transition:color 0.5s ease;
	transition:color 0.5s ease;
}
.nav .title {font-size:1.5em; line-height:2; margin:0 1em}
.nav .list a {display:block; margin:0 1em; line-height:3}

.nav-black {
	background-color:#333; color:#fff; border-bottom:1px solid #222;
	text-shadow:0 0 1px rgba(255,255,255,0.3);
}

.nav-white {
	background-color:#eee; color:#000; border-bottom:1px solid #ddd;
	text-shadow:0 0 1px rgba(0,0,0,0.3);
}

.nav-black a {color:#ccc; text-shadow:rgba(204,204,204,0.3)}
.nav-white a {color:#444; text-shadow:rgba(68,68,68,0.3)}

.nav-black .active {background-color:rgba(255,255,255,0.1)}
.nav-black .active a, .nav-black a:hover {color:#fff; text-shadow:0 0 1px rgba(255,255,255,0.3)}
.nav-white .active {background-color:rgba(0,0,0,0.1)}
.nav-white .active a, .nav-white a:hover {color:#000; text-shadow:0 0 1px rgba(0,0,0,0.3)}

.nav form {margin:0.5em 1em 0 1em}






